<%-include("header")-%>
<div >
    <form action="/delete" method="post">
        <a href="/users/logout" class="btn btn-secondary" style="position: absolute;
    top: 40%;"> Want To Logout Now?</a>
    <a href="/setting" class="btn btn-secondary" style="position: absolute;
    top: 50%;"> Update Your Acoount </a>
    <a href="/users/adminpost" class="btn btn-secondary" style="position: absolute;
    top: 70%;"> Post Your blog </a>
        <input type="text" class="form-control" name="id" value="<%= user._id %>" hidden>
        <button type="submit" class="btn btn-secondary" style="position: absolute; top:60%;"> Delete Your Account </button>
        <h1 style="text-align: center;"> Hi Mr. <%= user.name %>. You are logged in now..</h1>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>