<%-include("header")-%>

<div style="margin: 3% 24%;">
    <h1>User Details</h1>
    <h1 style="text-align: left;">Name: <%= user.name%></h1>
    <h1 style="text-align: left;">Email: <%= user.email%></h1>
    <a href="/edit" class="btn btn-primary btn-lg"> Edit </a>
    <a href="/dashboard" class="btn btn-secondary btn-lg"> Back to user account </a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>