body {
    margin: 0px;
    padding:0 px;
}

form {
    position: absolute;
    left: 35%;
    top: 35%;
    transform: translate(-50, -50);
    box-sizing: border-box;
    box-shadow: 10px 10px 10px solid #383232;
    margin: 20px;

}

.name {
    padding: 20% 40%;
    text-align: center;
    padding-top: 10px;
}

img {
    position: relative;
    left: 40%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}